.number {
  letter-spacing: 0;
  line-height: 112px;
  min-height: 151px;
  white-space: nowrap;
}
.web-1280-2 {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 130px 515px;
  width: 1280px;
}
.x1280-purple-retangle {
  align-self: center;
  background-color: var(--electric-violet);
  cursor: pointer;
  height: 101px;
  margin-left: 1.0px;
  margin-top: 44px;
  width: 105px;
}
